{% extends "base.twig" %}
{% block title %}
{% if action == constant('Action::New') %}
Neuer Eintrag
{% elseif action == constant('Action::Edit') %}
Eintrag bearbeiten
{% endif %}
{% endblock %}
{% block content %}

<form role="form" method="post" action="{{ action == constant('Action::New') ? path_for('createExpense') : action == constant('Action::Edit') ? path_for('updateExpense', {'id': expense.id}) }}">

  {# Form #}
  <div class="row">
    <div class="col-md-12">

      <div class="form-group">
        <label for="description">Beschreibung</label>
        <input type="text" value="{{ expense.description }}" class="form-control" id="description" name="description" autofocus>
      </div>

      <div class="form-group">
        <label for="price">Preis</label>
        <div class="input-group">
          <input type="text" value="{{ expense.price ? expense.price | toLocalizedNumber(2) }}" class="form-control" id="price" name="price">
          <div class="input-group-addon">{{ currencySymbol() }}</div>
        </div>
      </div>

      <div class="form-group">
        <label for="date">Datum</label>
        <input type="date" value="{{ action == constant('Action::New') ? 'now' | date('Y-m-d') : action == constant('Action::Edit') ? expense.date }}" class="form-control" id="date" name="date">
      </div>

      <div class="form-group">
        <label for="category">Kategorie</label>
        <select class="form-control" id="category" name="category">
          {% for category in categories %}
          <option value="{{ category.id }}" {{ category.id == expense.category.id ? 'selected' }}>{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="person">Zuordnung</label>
        <select class="form-control" id="person" name="person">
          {% for person in persons %}
          <option value="{{ person.id }}" {{ person.id == expense.person.id ? 'selected' }}>{{ person.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <div id="validationMessages"></div>
      </div>

    </div>
  </div>

  {# Button bar #}
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Speichern
      </button>
      {% if action == constant('Action::Edit') %}
      <a class="btn btn-danger" href="{{ path_for('removeExpense', {'id': expense.id}) }}" role="button">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Löschen
      </a>
      {% endif %}
      <a class="btn btn-default" href="{{ path_for('home') }}" role="button">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Zurück
      </a>
    </div>
  </div>

</form>

{% endblock %}

{% block scripts %}
<script src="/js/validator.js"></script>
<script>
var validator = new Validator('{{ decimalSeparator() }}', '{{ groupingSeparator() }}');
$('form').submit(function(event) {
  if(!validator.validateForm(this)) {
    event.preventDefault();
  }
});
</script>
{% endblock %}
