{% extends "base.twig" %}
{% block title %}Übersicht{% endblock %}
{% block content %}

{# Button bar #}
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-success" href="{{ path_for('newExpense') }}" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Neuer Eintrag
    </a>
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#filter">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>

{# Filter #}
<div class="row collapse" id="filter">
  <div class="col-md-12">
    <div class="card card-block">
      TODO: Filter
    </div>
  </div>
</div>

{# Overview table #}
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover" id="overview">
      <thead class="thead-inverse">
        <tr>
          <th>Kategorie</th>
          <th>Beschreibung</th>
          <th>Zuordnung</th>
          <th class="text-right">Preis</th>
        </tr>
      </thead>
      <tbody>

        {% for expense in expenses %}
        <tr id="{{ expense.id }}">
          <td>
            <i class="fa fa-fw fa-{{ expense.category.class }}"></i>
            {{ expense.category.name }}
          </td>
          <td>
            {% if expense.description %}
            {{ expense.description }}
            {% else %}
            -
            {% endif %}
          </td>
          <td>
            <i class="fa fa-fw fa-{{ expense.person.class }}"></i>
            {{ expense.person.name }}
          </td>
          <td class="text-right">{{ expense.price | number_format() }} €</td>
        </tr>
        {% endfor %}

        {# Insert some empty rows #}
        {% for i in 0..emptyRows %}
        <tr><td colspan="4">&nbsp;</td></tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>

{# Pager #}
<div class="row">
  <div class="col-md-12">
    <nav>
      <ul class="pagination">
        <li class="page-item {{ expenses.currentPage() == 1 ? 'disabled' }}">
          <a class="page-link" href="{{ expenses.previousPageUrl() }}">
            <span>&laquo;</span>
          </a>
        </li>
        {% for i in 1..expenses.lastPage() %}
        <li class="page-item {{ expenses.currentPage() == i ? 'active' }}">
          <a class="page-link" href="{{ expenses.url(i) }}">{{ i }}</a>
        </li>
        {% endfor %}
        <li class="page-item {{ not expenses.hasMorePages() ? 'disabled' }}">
          <a class="page-link" href="{{ expenses.nextPageUrl() }}">
            <span>&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$('#overview > tbody > tr').click(function() {
  console.log(this.id);
  location.href = '{{ path_for('editExpense', {'id': null}) }}' + this.id;
});
</script>
{% endblock %}
