{% extends "base.twig" %}
{% block title %}Übersicht{% endblock %}
{% block content %}

{# Button bar #}
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-success" href="{{ path_for('expense.new') }}" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Neuer Eintrag
    </a>
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#filter">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>

{# Filter #}
<div class="row collapse" id="filter">
  <div class="col-md-12">
    <form class="form-inline">
      <div class="form-group">
        <select class="form-control" name="filter-category">
          <option value="">* Alle *</option>
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <select class="form-control" name="filter-person">
          <option value="">* Alle *</option>
          {% for person in persons %}
          <option value="{{ person.id }}">{{ person.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <select class="form-control" name="filter-month">
          <option value="*">* Alle *</option>
          {% for key, month in months %}
          <option value="{{ key }}">{{ month }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <select class="form-control" name="filter-year">
          <option value="*">* Alle *</option>
          {% set thisYear = 'now' | date('Y') %}
          {% for year in thisYear..(thisYear - 10) %}
          <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <a class="btn btn-info" href="{{ path_for('expense.overview') }}" role="button">
          <i class="fa fa-filter"></i>
          Filtern
        </a>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {# Overview table #}
    <table class="table" id="overview">
      <thead>
        <tr>
          <th>Kategorie</th>
          <th>Beschreibung</th>
          <th>Zuordnung</th>
          <th class="text-right">Preis</th>
        </tr>
      </thead>
      <tbody>

        {% for expense in expenses %}
        {% if expense.date != currentDate %}
        <tr>
          <th colspan="4">{{ expense.date | localizeddate('full', 'none') }}</th>
        </tr>
        {% endif %}
        <tr id="{{ expense.id }}">
          <td>
            <i class="fa fa-fw fa-{{ expense.category.class }}"></i>
            {{ expense.category.name }}
          </td>
          <td>
            {% if expense.description %}
            {{ expense.description }}
            {% else %}
            -
            {% endif %}
          </td>
          <td>
            <i class="fa fa-fw fa-{{ expense.person.class }}"></i>
            {{ expense.person.name }}
          </td>
          <td class="text-right">{{ expense.price | localizednumber('currency') }}</td>
        </tr>
        {% set currentDate = expense.date %}
        {% endfor %}

      </tbody>
    </table>
  </div>

  {# Pager #}
  <div class="col-md-12">
    <nav>
      <ul class="pagination">
        <li class="page-item {{ expenses.currentPage() == 1 ? 'disabled' }}">
          <a class="page-link" href="{{ expenses.previousPageUrl() }}">
            <span>&laquo;</span>
          </a>
        </li>
        {% for i in 1..expenses.lastPage() %}
        <li class="page-item {{ expenses.currentPage() == i ? 'active' }}">
          <a class="page-link" href="{{ expenses.url(i) }}">{{ i }}</a>
        </li>
        {% endfor %}
        <li class="page-item {{ not expenses.hasMorePages() ? 'disabled' }}">
          <a class="page-link" href="{{ expenses.nextPageUrl() }}">
            <span>&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
// Make table row clickable
$('#overview > tbody > tr').click(function() {
  if(this.id) {
    location.href = '{{ path_for('expense.edit', {'id': null}) }}' + this.id;
  }
});
</script>
{% endblock %}
