{% extends "base.twig" %}
{% block title %}Übersicht{% endblock %}
{% block content %}

{# Button bar #}
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-success" href="{{ path_for('expense.createGet') }}" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Neuer Eintrag
    </a>
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#filter">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>

{# Filter #}
<div class="row {{ params.category is empty and params.person is empty and params.month is empty and params.year is empty ? 'collapse' }}" id="filter">
  <div class="col-md-12">
    <form class="form-inline">
      <div class="form-group">
        <select class="form-control" name="category">
          <option value="">* Alle *</option>
          {% for category in categories %}
          <option value="{{ category.id }}" {{ category.id == params.category ? 'selected' }}>{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <select class="form-control" name="person">
          <option value="">* Alle *</option>
          {% for person in persons %}
          <option value="{{ person.id }}" {{ person.id == params.person ? 'selected' }}>{{ person.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <select class="form-control" name="month">
          <option value="">* Alle *</option>
          {% for key, month in months %}
          <option value="{{ key }}" {{ key == params.month ? 'selected' }}>{{ month }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <select class="form-control" name="year">
          <option value="">* Alle *</option>
          {% set thisYear = 'now' | date('Y') %}
          {% for year in thisYear..(thisYear - 10) %}
          <option value="{{ year }}" {{ year == params.year ? 'selected' }}>{{ year }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-info">
          <i class="fa fa-filter"></i>
          Filtern
        </button>
      </div>
      <div class="form-group">
        <a class="btn btn-default" href="{{ path_for('expense.overview') }}" role="button">
          <i class="fa fa-undo" aria-hidden="true"></i>
          Reset
        </a>
      </div>
    </form>
  </div>
</div>

<div class="row">

  {% if expenses | length > 0 %}
  <div class="col-md-12">
    {# Overview table #}
    <table class="table" id="overview">
      <thead class="hidden-xs">
        <tr>
          <th>Kategorie</th>
          <th>Beschreibung</th>
          <th>Zuordnung</th>
          <th class="text-right">Preis</th>
        </tr>
      </thead>
      <tbody>

        {% for expense in expenses %}
        {% if expense.date != currentDate %}
        <tr>
          <th colspan="4">{{ expense.date | localizeddate('full', 'none') }}</th>
        </tr>
        {% endif %}
        <tr id="{{ expense.id }}">
          <td>
            <i class="fa fa-fw fa-{{ expense.category.class }}"></i>
            <span class="hidden-xs">{{ expense.category.name }}</span>
          </td>
          <td>
            {% if expense.description %}
            {{ expense.description }}
            {% else %}
            -
            {% endif %}
          </td>
          <td>
            <i class="fa fa-fw fa-{{ expense.person.class }} hidden-xs"></i>
            {{ expense.person.name }}
          </td>
          <td class="text-right">{{ expense.price | localizednumber('currency') }}</td>
        </tr>
        {% set currentDate = expense.date %}
        {% endfor %}

        {# Sum line #}
        {% if params.category is not empty or params.person is not empty or params.month is not empty or params.year is not empty %}
        <tr>
          <th colspan="4" class="text-info">Summe: {{ priceSum | localizednumber('currency') }}</th>
        </tr>
        {% endif %}

      </tbody>
    </table>
  </div>

  {% else %}
  <div class="col-md-12">
    <div class="well well-sm">
      Es wurden keine Datensätze zu den Filterkriterien gefunden.
    </div>
  </div>
  {% endif %}

  {# Pager #}
  {% if expenses.lastPage() > 1 %}
  <div class="col-md-12">

    <nav class="hidden-xs">
      <ul class="pagination">
        <li class="page-item {{ expenses.currentPage() == 1 ? 'disabled' }}">
          <a class="page-link" href="{{ expenses.previousPageUrl() }}">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </a>
        </li>
        {% set links = settings['pager']['visible-links'] %}
        {% set startPage = expenses.currentPage() <= links / 2 ? 1 : expenses.currentPage() - links / 2 %}
        {% set endPage = expenses.lastPage() > startPage + links - 1 ? startPage + links - 1 : expenses.lastPage() %}
        {% for i in startPage..endPage %}
        <li class="page-item {{ expenses.currentPage() == i ? 'active' }}">
          <a class="page-link" href="{{ expenses.url(i) }}">{{ i }}</a>
        </li>
        {% endfor %}
        <li class="page-item {{ not expenses.hasMorePages() ? 'disabled' }}">
          <a class="page-link" href="{{ expenses.nextPageUrl() }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="visible-xs">
      <ul class="pager">
        <li class="previous {{ expenses.currentPage() == 1 ? 'disabled' }}">
          <a href="{{ expenses.previousPageUrl() }}">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            Vorherige Seite
          </a>
        </li>
        <li>
          <span>
            {{ expenses.currentPage() }}
          </span>
        </li>
        <li class="next {{ not expenses.hasMorePages() ? 'disabled' }}">
          <a href="{{ expenses.nextPageUrl() }}">
            Nächste Seite
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>

  </div>
  {% endif %}

</div>

{% endblock %}

{% block scripts %}
<script>
// Make table row clickable
$('#overview > tbody > tr').click(function() {
  if(this.id) {
    location.href = '{{ path_for('expense.updateGet', {'id': null}) }}' + this.id;
  }
});

// Serialize form fields on filter button click
$('#filter button').click(function() {
  location.href = '{{ path_for('expense.overview') }}?' + $('#filter form').serialize();
});
</script>
{% endblock %}
